page-data-set-sync-container {
  .data-set-sync-container{
    background-color:  #ffffff;
  }
  .item-md.item-block .item-inner {
    padding-right: 0px;
    border-bottom: 0px solid  #ffffff;
  }

  .item-ios.item-block .item-inner {
    padding-right: 0px;
    border-bottom: 0px solid  #ffffff;
  }

}
