


<div >
  <div (click)="showTooltips()" class="inputLabel">
    {{ fieldLabelKey }}
    <span *ngIf="mandatory" class="required">&nbsp;*</span>
    <span *ngIf="programStageDataElement.dataElement.description">&nbsp;&nbsp;<ion-icon color="icon-color" name="help-circle"></ion-icon></span>
  </div>
  <div *ngIf="programStageDataElement.optionSet" class="input-field-container">
    <option-set-input-field (onChange)="updateValue($event)"
                            [dataElementId]="programStageDataElement.dataElement.id"
                            [categoryOptionComboId]="'programStageDataElement.dataElement'"
                            [data]="data"
                            [options]="programStageDataElement.optionSet.options">
    </option-set-input-field>
  </div>
  <div *ngIf="!programStageDataElement.optionSet" class="input-field-container">
    <div *ngIf="textInputField.indexOf(programStageDataElement.dataElement.valueType) > -1">
      <text-input-field (onChange)="updateValue($event)"
                        [dataElementId]="programStageDataElement.dataElement.id"
                        [categoryOptionComboId]="'programStageDataElement.dataElement'"
                        [data]="data"
                        [valueType]="programStageDataElement.dataElement.valueType">
      </text-input-field>
    </div>
    <div *ngIf="numericalInputField.indexOf(programStageDataElement.dataElement.valueType) > -1">
      <numerical-input-field (onChange)="updateValue($event)"
                             [dataElementId]="programStageDataElement.dataElement.id"
                             [categoryOptionComboId]="'programStageDataElement.dataElement'"
                             [data]="data"
                             [valueType]="programStageDataElement.dataElement.valueType">
      </numerical-input-field>
    </div>

    <div *ngIf="programStageDataElement.dataElement.valueType == 'DATE'">
      <date-input-field (onChange)="updateValue($event)"
                        [dataElementId]="programStageDataElement.dataElement.id"
                        [categoryOptionComboId]="'programStageDataElement.dataElement'"
                        [data]="data">
      </date-input-field>
    </div>
    <div *ngIf="programStageDataElement.dataElement.valueType == 'TRUE_ONLY'">
      <true-only-input-field (onChange)="updateValue($event)"
                             [dataElementId]="programStageDataElement.dataElement.id"
                             [categoryOptionComboId]="'programStageDataElement.dataElement'"
                             [data]="data">
      </true-only-input-field>
    </div>
    <div *ngIf="programStageDataElement.dataElement.valueType == 'BOOLEAN'">
      <boolean-input-field (onChange)="updateValue($event)"
                           [dataElementId]="programStageDataElement.dataElement.id"
                           [categoryOptionComboId]="'programStageDataElement.dataElement'"
                           [data]="data">
      </boolean-input-field>
    </div>

    <div *ngIf="programStageDataElement.dataElement.valueType == 'GENDER'">
      <gender-input-field (onChange)="updateValue($event)"
                           [dataElementId]="programStageDataElement.dataElement.id"
                           [categoryOptionComboId]="'programStageDataElement.dataElement'"
                           [data]="data">
      </gender-input-field>
    </div>

    <!--<div *ngIf="programStageDataElement.dataElement.valueType == 'NUMBER'">-->
      <!--<numerical-input-field (onChange)="updateValue($event)"-->
                           <!--[dataElementId]="programStageDataElement.dataElement.id"-->
                           <!--[categoryOptionComboId]="'programStageDataElement'"-->
                           <!--[data]="data">-->
      <!--</numerical-input-field>-->
    <!--</div>-->

    <div *ngIf="supportValueTypes.indexOf(programStageDataElement.dataElement.valueType) == -1">
      <div padding>
        Currently '{{ programStageDataElement.dataElement.valueType.toLocaleLowerCase().replace('/_/g',' ')}}' as value type is not supported
      </div>
    </div>
  </div>
</div>


